# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub/

# IDE
.idea/
.vscode/
*.iml
*.swp

# macOS
.DS_Store
*.plist

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# Web
**/web/favicon.ico

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# Coverage
coverage/
*.lcov

# Misc
*.log
.env
